.group-div146,
.group-div151,
.group-div152 {
    position: absolute;
    top: 104px;
    left: 907.28px;
    width: 404.72px;
    height: 454.75px;
}
.group-div146,
.group-div152 {
    top: 606px;
}
.group-div146 {
    top: 1731px;
    left: 64px;
    width: 1312px;
    height: 1060.75px;
    text-align: center;
    font-size: var(--font-size-10xl);
}
.meet-our-doctors1 {
    top: 0;
    left: 0;
    line-height: 32.21px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
}
.group-div147,
.group-div148 {
    position: absolute;
    top: 104px;
    left: 0;
    width: 404.72px;
    height: 454.75px;
}
.group-div148 {
    top: 606px;
}
.rectangle-div103 {
    position: absolute;
    top: 85.61px;
    left: 0;
    border-radius: var(--br-3xl);
    background-color: var(--color-beige);
    width: 404.72px;
    height: 369.14px;
}
.ellipse-icon15 {
    position: absolute;
    top: -20.01px;
    left: 90.06px;
    width: 224.6px;
    height: 224.6px;
    object-fit: cover;
}
.dr-guy-hawkins2,
.ent-specialist-div2,
.mobile-number-98567412306 {
    position: absolute;
    top: 195.69px;
    left: 73.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.ent-specialist-div2,
.mobile-number-98567412306 {
    top: 245.72px;
    left: 137px;
    font-size: var(--font-size-4xs);
    font-weight: 500;
}
.mobile-number-98567412306 {
    top: 305.76px;
    left: 73.49px;
    font-size: var(--font-size-10xs);
}
.frame-button2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-lg);
    background-color: var(--color-indigo);
    position: absolute;
    top: 375.81px;
    left: 94.51px;
    border-radius: var(--br-5xl);
    width: 215.7px;
    height: 57.82px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.see-details-div6 {
    position: relative;
    font-size: var(--font-size-4xl);
    line-height: 35.56px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
}
.group-div149,
.group-div150 {
    position: absolute;
    top: 104px;
    left: 453.64px;
    width: 404.72px;
    height: 454.75px;
}
.group-div150 {
    top: 606px;
}
.dr-wade-warren2 {
    position: absolute;
    top: 195.69px;
    left: 67.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.mobile-number-98567412308,
.obstetrics-gynaecology-speci2 {
    position: absolute;
    top: 246px;
    left: 36.36px;
    font-size: var(--font-size-4xs);
    line-height: 27.72px;
    font-weight: 500;
    display: inline-block;
}
.mobile-number-98567412308 {
    top: 306px;
    left: 73.5px;
    font-size: var(--font-size-10xs);
    line-height: 35.56px;
}
.dr-jane-wilson2,
.orthopedics-specialist-div2 {
    position: absolute;
    top: 195.69px;
    left: 80.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.orthopedics-specialist-div2 {
    top: 245.72px;
    left: 70.19px;
    font-size: var(--font-size-2xl);
    font-weight: 500;
}
