.standard-collection-126 {
    position: relative;
    width: 56.59px;
    height: 56.59px;
    flex-shrink: 0;
}
.medilab-div6 {
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.frame-div206 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-8xs);
}
.quick-links-b6 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.consultation-div6,
.home-div11 {
    position: relative;
    display: inline-block;
}
.consultation-div6 {
    cursor: pointer;
}
.frame-div208 {
    position: absolute;
    top: 60.9px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    font-size: var(--font-size-base);
    color: var(--color-gray-800);
}
.group-div128,
.hours-b6 {
    font-size: var(--font-size-6xl);
    color: var(--black);
}
.group-div128 {
    position: relative;
    width: 157px;
    height: 201.51px;
    flex-shrink: 0;
}
.hours-b6 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.div56,
.div57,
.div58,
.div59,
.div60,
.monday-div6 {
    position: absolute;
    top: 24.39%;
    left: 0;
    display: inline-block;
}
.div56,
.div57,
.div58,
.div59,
.div60 {
    top: 25.88%;
    left: 56.45%;
}
.div57,
.div58,
.div59,
.div60 {
    top: 40.31%;
}
.div58,
.div59,
.div60 {
    top: 56.74%;
}
.div59,
.div60 {
    top: 73.16%;
}
.div60 {
    top: 89.59%;
}
.friday-div6,
.thursday-div6,
.tuesday-div6,
.wednesday-div6 {
    position: absolute;
    top: 70.68%;
    left: 0;
    display: inline-block;
}
.friday-div6,
.tuesday-div6,
.wednesday-div6 {
    top: 86.1%;
}
.tuesday-div6,
.wednesday-div6 {
    top: 39.82%;
}
.wednesday-div6 {
    top: 55.25%;
}
.group-div130 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.group-div129 {
    position: relative;
    width: 268.63px;
    height: 249.71px;
    flex-shrink: 0;
}
.div61,
.infoemailcom-div6,
.kalutara-south-div6 {
    position: absolute;
    top: 38.08%;
    left: 17.59%;
    display: inline-block;
}
.infoemailcom-div6,
.kalutara-south-div6 {
    top: 59.74%;
}
.kalutara-south-div6 {
    top: 84.38%;
}
.location-arrow-icon5,
.phone-alt-icon6,
.vector-icon6 {
    position: absolute;
    height: 13.44%;
    width: 11.31%;
    top: 60.48%;
    right: 88.69%;
    bottom: 26.07%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.location-arrow-icon5,
.phone-alt-icon6 {
    top: 38.83%;
    bottom: 47.73%;
}
.location-arrow-icon5 {
    top: 85.13%;
    bottom: 1.43%;
}
.group-div131 {
    position: relative;
    width: 197.8px;
    height: 166.44px;
    flex-shrink: 0;
}
.frame-div207 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    font-size: var(--font-size-base);
    color: var(--color-gray-800);
}
.footer-div6,
.group-div127 {
    display: flex;
    align-items: center;
}
.group-div127 {
    width: 1312px;
    height: 270.25px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div6 {
    position: absolute;
    top: 2798px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 449px;
    flex-direction: column;
    padding: var(--padding-9xl) 0 0;
    box-sizing: border-box;
    justify-content: center;
    font-family: var(--font-roboto);
}
.ellipse-icon14 {
    position: absolute;
    bottom: 331px;
    left: calc(50% - 720px);
    width: 4748px;
    height: 2222px;
}
.empowering-people-to-improve-t1,
.lorem-media-is-a-full-service3 {
    position: relative;
    display: inline-block;
    width: 759px;
}
.lorem-media-is-a-full-service3 {
    font-size: var(--font-size-6xs);
    line-height: 30px;
    width: 656px;
}
.frame-div210 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-md);
}
.browse-more-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-2xs);
    line-height: 32.21px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
}
.arrow-right-1-icon9 {
    position: relative;
    width: 31.32px;
    height: 31.32px;
    flex-shrink: 0;
    overflow: hidden;
}
.frame-button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-xl);
    background-color: var(--color-indigo);
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}
.frame-div209 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
}
.doctorscuate-icon1 {
    position: relative;
    width: 509.87px;
    height: 514.1px;
    flex-shrink: 0;
}
.hero-section-div3 {
    position: absolute;
    top: 177px;
    left: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xl);
    font-size: var(--font-size-18xl);
}
.popular-products-div3 {
    position: relative;
    line-height: 32.21px;
    font-weight: 600;
    display: inline-block;
}
.rectangle-div91 {
    position: absolute;
    top: 93.3px;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 267.94px;
    height: 256.78px;
}
.image-1-icon2 {
    position: absolute;
    top: 0;
    left: 79px;
    width: 109.25px;
    height: 212.98px;
    object-fit: cover;
}
.advil-ibuprofin-div1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.frame-div214 {
    flex-direction: column;
    gap: var(--gap-0);
}
.frame-div213,
.frame-div214,
.frame-div215 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div215 {
    flex-direction: row;
    gap: var(--gap-12xs);
    font-size: var(--font-size-13xs);
    color: var(--color-indigo);
}
.frame-div213 {
    position: absolute;
    top: 244.02px;
    left: 29.51px;
    width: 124.4px;
    height: 94.1px;
    flex-direction: column;
    gap: var(--gap-3xs);
}
.rectangle-div92 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg) 0 var(--br-lg) 0;
    background-color: var(--color-indigo);
    width: 64.59px;
    height: 64.59px;
}
.arrow-right-1-icon10 {
    position: absolute;
    top: 15.4px;
    left: 15.4px;
    width: 34.04px;
    height: 34.04px;
    overflow: hidden;
}
.group-div135 {
    position: absolute;
    top: 285.48px;
    left: 203.35px;
    width: 64.59px;
    height: 64.59px;
    cursor: pointer;
}
.group-div134 {
    position: relative;
    box-shadow: 0 0 59.01px rgba(0, 0, 0, 0.1);
    width: 267.94px;
    height: 350.08px;
    flex-shrink: 0;
    font-size: var(--font-size-8xs);
}
.rectangle-div93 {
    position: absolute;
    top: 84.32px;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 267.84px;
    height: 256.68px;
}
.frame-div216,
.frame-div218 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div218 {
    flex-direction: row;
    gap: var(--gap-12xs);
    font-size: var(--font-size-14xs);
    color: var(--color-indigo);
}
.frame-div216 {
    position: absolute;
    top: 234.98px;
    left: 29.49px;
    width: 124.36px;
    height: 94.06px;
    flex-direction: column;
    gap: var(--gap-4xs);
}
.rectangle-div94 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md) 0 var(--br-md) 0;
    background-color: var(--color-indigo);
    width: 64.57px;
    height: 64.57px;
}
.arrow-right-1-icon11 {
    position: absolute;
    top: 15.4px;
    left: 15.4px;
    width: 34.03px;
    height: 34.03px;
    overflow: hidden;
}
.group-div137,
.image-3-icon1 {
    position: absolute;
    top: 276.43px;
    left: 203.27px;
    width: 64.57px;
    height: 64.57px;
}
.image-3-icon1 {
    top: 0;
    left: 62.5px;
    width: 142.11px;
    height: 213.47px;
    object-fit: cover;
}
.group-div136 {
    position: relative;
    box-shadow: 0 0 58.99px rgba(0, 0, 0, 0.1);
    width: 267.84px;
    height: 341px;
    flex-shrink: 0;
    font-size: var(--font-size-9xs);
}
.rectangle-div95 {
    position: absolute;
    top: 93.55px;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    width: 268.65px;
    height: 257.45px;
}
.frame-div219,
.frame-div221 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div221 {
    flex-direction: row;
    gap: var(--gap-11xs);
    font-size: var(--font-size-12xs);
    color: var(--color-indigo);
}
.frame-div219 {
    position: absolute;
    top: 244.66px;
    left: 29.58px;
    width: 124.73px;
    height: 94.35px;
    flex-direction: column;
    gap: var(--gap-2xs);
}
.rectangle-div96 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl) 0 var(--br-xl) 0;
    background-color: var(--color-indigo);
    width: 64.76px;
    height: 64.76px;
}
.arrow-right-1-icon12 {
    position: absolute;
    top: 15.44px;
    left: 15.44px;
    width: 34.13px;
    height: 34.13px;
    overflow: hidden;
}
.group-div139,
.image-4-icon1 {
    position: absolute;
    top: 286.24px;
    left: 203.88px;
    width: 64.76px;
    height: 64.76px;
}
.image-4-icon1 {
    top: 0;
    left: 64.94px;
    width: 138.31px;
    height: 214px;
    object-fit: cover;
}
.group-div138 {
    position: relative;
    box-shadow: 0 0 59.17px rgba(0, 0, 0, 0.1);
    width: 268.65px;
    height: 351px;
    flex-shrink: 0;
}
.image-5-icon1 {
    position: absolute;
    top: 0;
    left: 89.65px;
    width: 90.16px;
    height: 223.94px;
    object-fit: cover;
}
.frame-div212 {
    width: 1312px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.rectangle-div99 {
    position: absolute;
    top: 93.76px;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 267.94px;
    height: 256.78px;
}
.frame-div226 {
    position: absolute;
    top: 244.48px;
    left: 29.51px;
    width: 124.4px;
    height: 94.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.group-div143,
.image-6-icon1 {
    position: absolute;
    top: 285.95px;
    left: 203.35px;
    width: 64.59px;
    height: 64.59px;
}
.image-6-icon1 {
    top: 0;
    left: 84px;
    width: 99.08px;
    height: 221.77px;
    object-fit: cover;
}
.group-div142 {
    position: relative;
    box-shadow: 0 0 59.01px rgba(0, 0, 0, 0.1);
    width: 267.94px;
    height: 350.54px;
    flex-shrink: 0;
}
.rectangle-div101 {
    position: absolute;
    top: 73.79px;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 267.84px;
    height: 256.68px;
}
.frame-div229 {
    position: absolute;
    top: 224.45px;
    left: 29.49px;
    width: 124.36px;
    height: 94.06px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
}
.group-div145,
.image-7-icon1 {
    position: absolute;
    top: 265.9px;
    left: 203.27px;
    width: 64.57px;
    height: 64.57px;
}
.image-7-icon1 {
    top: 0;
    left: 12.42px;
    width: 237.39px;
    height: 181px;
    object-fit: cover;
}
.group-div144 {
    position: relative;
    box-shadow: 0 0 58.99px rgba(0, 0, 0, 0.1);
    width: 267.84px;
    height: 330.47px;
    flex-shrink: 0;
    font-size: var(--font-size-9xs);
}
.frame-div225 {
    width: 615px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-7xl);
    font-size: var(--font-size-8xs);
}
.frame-div211 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xl);
    font-size: var(--font-size-7xs);
}
.anchor-popular-products1 {
    position: absolute;
    left: 0;
    top: -170px;
}
.meet-our-doctors1,
.popular-products-div2 {
    position: absolute;
    font-size: var(--font-size-11xl);
}
.popular-products-div2 {
    top: 771px;
    left: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xl);
}
.meet-our-doctors1 {
    top: 0;
    left: 0;
    line-height: 32.21px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
}
.rectangle-div103 {
    position: absolute;
    top: 85.61px;
    left: 0;
    border-radius: var(--br-3xl);
    background-color: var(--color-beige);
    width: 404.72px;
    height: 369.14px;
}
.ellipse-icon15 {
    position: absolute;
    top: -20.01px;
    left: 90.06px;
    width: 224.6px;
    height: 224.6px;
    object-fit: cover;
}
.dr-guy-hawkins2,
.ent-specialist-div2,
.mobile-number-98567412306 {
    position: absolute;
    top: 195.69px;
    left: 73.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.ent-specialist-div2,
.mobile-number-98567412306 {
    top: 245.72px;
    left: 137px;
    font-size: var(--font-size-4xs);
    font-weight: 500;
}
.mobile-number-98567412306 {
    top: 305.76px;
    left: 73.49px;
    font-size: var(--font-size-10xs);
}
.see-details-div6 {
    position: relative;
    font-size: var(--font-size-4xl);
    line-height: 35.56px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
}
.frame-button2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-lg);
    background-color: var(--color-indigo);
    position: absolute;
    top: 375.81px;
    left: 94.51px;
    border-radius: var(--br-5xl);
    width: 215.7px;
    height: 57.82px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.group-div147,
.group-div148 {
    position: absolute;
    top: 104px;
    left: 0;
    width: 404.72px;
    height: 454.75px;
}
.group-div148 {
    top: 606px;
}
.dr-wade-warren2 {
    position: absolute;
    top: 195.69px;
    left: 67.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.mobile-number-98567412308,
.obstetrics-gynaecology-speci2 {
    position: absolute;
    top: 246px;
    left: 36.36px;
    font-size: var(--font-size-4xs);
    line-height: 27.72px;
    font-weight: 500;
    display: inline-block;
}
.mobile-number-98567412308 {
    top: 306px;
    left: 73.5px;
    font-size: var(--font-size-10xs);
    line-height: 35.56px;
}
.group-div149,
.group-div150 {
    position: absolute;
    top: 104px;
    left: 453.64px;
    width: 404.72px;
    height: 454.75px;
}
.group-div150 {
    top: 606px;
}
.dr-jane-wilson2,
.orthopedics-specialist-div2 {
    position: absolute;
    top: 195.69px;
    left: 80.49px;
    line-height: 35.56px;
    font-weight: 600;
    display: inline-block;
}
.orthopedics-specialist-div2 {
    top: 245.72px;
    left: 70.19px;
    font-size: var(--font-size-2xl);
    font-weight: 500;
}
.group-div146,
.group-div151,
.group-div152 {
    position: absolute;
    top: 104px;
    left: 907.28px;
    width: 404.72px;
    height: 454.75px;
}
.group-div146,
.group-div152 {
    top: 606px;
}
.group-div146 {
    top: 1731px;
    left: 64px;
    width: 1312px;
    height: 1060.75px;
    text-align: center;
    font-size: var(--font-size-10xl);
}
.group-icon7,
.line-div6 {
    position: relative;
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}
.line-div6 {
    border-top: 4px solid var(--color-violet-200);
    box-sizing: border-box;
    border-radius: 4px;
    width: 41px;
    height: 4px;
}
.frame-div233,
.frame-div234 {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xl);
}
.frame-div233 {
    justify-content: flex-start;
    gap: var(--gap-9xl);
}
.search-div6 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--black);
    text-align: left;
    display: none;
    opacity: 0.5;
}
.login-div1 {
    position: relative;
    /* font-size: var(--font-size-xs); */
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
}
.frame-button8,
.frame-button9,
.frame-div232 {
    display: flex;
    flex-direction: row;
}
.frame-button8 {
    /* cursor: pointer; */
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
}
.frame-div232 {
    position: absolute;
    height: 52.85%;
    width: 90.97%;
    top: 23.58%;
    right: 4.58%;
    bottom: 23.58%;
    left: 4.44%;
    align-items: center;
    justify-content: space-between;
}
.home-page-div {
    position: relative;
    background-color: var(--color-gray-100);
    width: 100%;
    height: 3247px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--black);
    font-family: var(--font-poppins);
}
