.meet-our-doctors1,
.popular-products-div2 {
    position: absolute;
    font-size: var(--font-size-11xl);
}
.popular-products-div2 {
    top: 771px;
    left: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xl);
}
.popular-products-div3 {
    position: relative;
    line-height: 32.21px;
    font-weight: 600;
    display: inline-block;
}
.frame-div211 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-4xl);
    font-size: var(--font-size-7xs);
}
.frame-div212 {
    width: 1312px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.group-div134 {
    position: relative;
    box-shadow: 0 0 59.01px rgba(0, 0, 0, 0.1);
    width: 267.94px;
    height: 350.08px;
    flex-shrink: 0;
    font-size: var(--font-size-8xs);
}
.rectangle-div91 {
    position: absolute;
    top: 93.3px;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 267.94px;
    height: 256.78px;
}
.image-1-icon2 {
    position: absolute;
    top: 0;
    left: 79px;
    width: 109.25px;
    height: 212.98px;
    object-fit: cover;
}
.frame-div213,
.frame-div214,
.frame-div215 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div215 {
    flex-direction: row;
    gap: var(--gap-12xs);
    font-size: var(--font-size-13xs);
    color: var(--color-indigo);
}
.frame-div213 {
    position: absolute;
    top: 244.02px;
    left: 29.51px;
    width: 124.4px;
    height: 94.1px;
    flex-direction: column;
    gap: var(--gap-3xs);
}
.frame-div214 {
    flex-direction: column;
    gap: var(--gap-0);
}
.advil-ibuprofin-div1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.group-div135 {
    position: absolute;
    top: 285.48px;
    left: 203.35px;
    width: 64.59px;
    height: 64.59px;
    cursor: pointer;
}
.rectangle-div92 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg) 0 var(--br-lg) 0;
    background-color: var(--color-indigo);
    width: 64.59px;
    height: 64.59px;
}
.arrow-right-1-icon10 {
    position: absolute;
    top: 15.4px;
    left: 15.4px;
    width: 34.04px;
    height: 34.04px;
    overflow: hidden;
}
.group-div136 {
    position: relative;
    box-shadow: 0 0 58.99px rgba(0, 0, 0, 0.1);
    width: 267.84px;
    height: 341px;
    flex-shrink: 0;
    font-size: var(--font-size-9xs);
}
.rectangle-div93 {
    position: absolute;
    top: 84.32px;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 267.84px;
    height: 256.68px;
}
.frame-div216,
.frame-div218 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div218 {
    flex-direction: row;
    gap: var(--gap-12xs);
    font-size: var(--font-size-14xs);
    color: var(--color-indigo);
}
.frame-div216 {
    position: absolute;
    top: 234.98px;
    left: 29.49px;
    width: 124.36px;
    height: 94.06px;
    flex-direction: column;
    gap: var(--gap-4xs);
}
.group-div137,
.image-3-icon1 {
    position: absolute;
    top: 276.43px;
    left: 203.27px;
    width: 64.57px;
    height: 64.57px;
}
.image-3-icon1 {
    top: 0;
    left: 62.5px;
    width: 142.11px;
    height: 213.47px;
    object-fit: cover;
}
.rectangle-div94 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md) 0 var(--br-md) 0;
    background-color: var(--color-indigo);
    width: 64.57px;
    height: 64.57px;
}
.arrow-right-1-icon11 {
    position: absolute;
    top: 15.4px;
    left: 15.4px;
    width: 34.03px;
    height: 34.03px;
    overflow: hidden;
}
.group-div138 {
    position: relative;
    box-shadow: 0 0 59.17px rgba(0, 0, 0, 0.1);
    width: 268.65px;
    height: 351px;
    flex-shrink: 0;
}
.rectangle-div95 {
    position: absolute;
    top: 93.55px;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    width: 268.65px;
    height: 257.45px;
}
.frame-div219,
.frame-div221 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div221 {
    flex-direction: row;
    gap: var(--gap-11xs);
    font-size: var(--font-size-12xs);
    color: var(--color-indigo);
}
.frame-div219 {
    position: absolute;
    top: 244.66px;
    left: 29.58px;
    width: 124.73px;
    height: 94.35px;
    flex-direction: column;
    gap: var(--gap-2xs);
}
.group-div139,
.image-4-icon1 {
    position: absolute;
    top: 286.24px;
    left: 203.88px;
    width: 64.76px;
    height: 64.76px;
}
.image-4-icon1 {
    top: 0;
    left: 64.94px;
    width: 138.31px;
    height: 214px;
    object-fit: cover;
}
.rectangle-div96 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl) 0 var(--br-xl) 0;
    background-color: var(--color-indigo);
    width: 64.76px;
    height: 64.76px;
}
.arrow-right-1-icon12 {
    position: absolute;
    top: 15.44px;
    left: 15.44px;
    width: 34.13px;
    height: 34.13px;
    overflow: hidden;
}
.image-5-icon1 {
    position: absolute;
    top: 0;
    left: 89.65px;
    width: 90.16px;
    height: 223.94px;
    object-fit: cover;
}
.frame-div225 {
    width: 615px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-7xl);
    font-size: var(--font-size-8xs);
}
.group-div142 {
    position: relative;
    box-shadow: 0 0 59.01px rgba(0, 0, 0, 0.1);
    width: 267.94px;
    height: 350.54px;
    flex-shrink: 0;
}
.rectangle-div99 {
    position: absolute;
    top: 93.76px;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 267.94px;
    height: 256.78px;
}
.frame-div226 {
    position: absolute;
    top: 244.48px;
    left: 29.51px;
    width: 124.4px;
    height: 94.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.group-div143,
.image-6-icon1 {
    position: absolute;
    top: 285.95px;
    left: 203.35px;
    width: 64.59px;
    height: 64.59px;
}
.image-6-icon1 {
    top: 0;
    left: 84px;
    width: 99.08px;
    height: 221.77px;
    object-fit: cover;
}
.group-div144 {
    position: relative;
    box-shadow: 0 0 58.99px rgba(0, 0, 0, 0.1);
    width: 267.84px;
    height: 330.47px;
    flex-shrink: 0;
    font-size: var(--font-size-9xs);
}
.rectangle-div101 {
    position: absolute;
    top: 73.79px;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 267.84px;
    height: 256.68px;
}
.frame-div229 {
    position: absolute;
    top: 224.45px;
    left: 29.49px;
    width: 124.36px;
    height: 94.06px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
}
.group-div145,
.image-7-icon1 {
    position: absolute;
    top: 265.9px;
    left: 203.27px;
    width: 64.57px;
    height: 64.57px;
}
.image-7-icon1 {
    top: 0;
    left: 12.42px;
    width: 237.39px;
    height: 181px;
    object-fit: cover;
}
.anchor-popular-products1 {
    position: absolute;
    left: 0;
    top: -170px;
}
