.standard-collection-12 {
    position: relative;
    width: 56.59px;
    height: 56.59px;
    flex-shrink: 0;
}
.medilab-div {
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-8xs);
}
.quick-links-b {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.home-div {
    position: relative;
    display: inline-block;
}
.frame-div2 {
    position: absolute;
    top: 60.9px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    font-size: var(--font-size-base);
    color: var(--color-gray-800);
}
.group-div1,
.hours-b {
    font-size: var(--font-size-6xl);
    color: var(--black);
}
.group-div1 {
    position: relative;
    width: 157px;
    height: 201.51px;
    flex-shrink: 0;
}
.hours-b {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.div,
.div1,
.div2,
.div3,
.div4,
.monday-div {
    position: absolute;
    top: 24.39%;
    left: 0;
    display: inline-block;
}
.div,
.div1,
.div2,
.div3,
.div4 {
    top: 25.88%;
    left: 56.45%;
}
.div1,
.div2,
.div3,
.div4 {
    top: 40.31%;
}
.div2,
.div3,
.div4 {
    top: 56.74%;
}
.div3,
.div4 {
    top: 73.16%;
}
.div4 {
    top: 89.59%;
}
.friday-div,
.thursday-div,
.tuesday-div,
.wednesday-div {
    position: absolute;
    top: 70.68%;
    left: 0;
    display: inline-block;
}
.friday-div,
.tuesday-div,
.wednesday-div {
    top: 86.1%;
}
.tuesday-div,
.wednesday-div {
    top: 39.82%;
}
.wednesday-div {
    top: 55.25%;
}
.group-div3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.group-div2 {
    position: relative;
    width: 268.63px;
    height: 249.71px;
    flex-shrink: 0;
}
.div5,
.infoemailcom-div,
.kalutara-south-div {
    position: absolute;
    top: 38.08%;
    left: 17.59%;
    display: inline-block;
}
.infoemailcom-div,
.kalutara-south-div {
    top: 59.74%;
}
.kalutara-south-div {
    top: 84.38%;
}
.location-arrow-icon,
.phone-alt-icon,
.vector-icon {
    position: absolute;
    height: 13.44%;
    width: 11.31%;
    top: 60.48%;
    right: 88.69%;
    bottom: 26.07%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.location-arrow-icon,
.phone-alt-icon {
    top: 38.83%;
    bottom: 47.73%;
}
.location-arrow-icon {
    top: 85.13%;
    bottom: 1.43%;
}
.group-div4 {
    position: relative;
    width: 197.8px;
    height: 166.44px;
    flex-shrink: 0;
}
.frame-div1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    font-size: var(--font-size-base);
    color: var(--color-gray-800);
}
.footer-div,
.group-div {
    display: flex;
    align-items: center;
}
.group-div {
    width: 1312px;
    height: 270.25px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div {
    position: absolute;
    top: 734px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 449px;
    flex-direction: column;
    padding: var(--padding-9xl) 0 0;
    box-sizing: border-box;
    justify-content: center;
    font-size: var(--font-size-7xl);
    font-family: var(--font-roboto);
}
.ellipse-icon {
    position: absolute;
    bottom: -1039px;
    left: calc(50% - 720px);
    width: 4748px;
    height: 2222px;
}
.book-an-appointment {
    position: absolute;
    top: 170px;
    left: 64px;
    font-size: var(--font-size-13xl);
    display: inline-block;
    font-family: var(--font-montserrat);
    filter: blur(10px);
}
.rectangle-div {
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: var(--br-6xl);
    border: 6px solid var(--color-white);
    box-sizing: border-box;
    width: 395px;
    height: 108px;
}
.span {
    color: var(--color-red);
}
.phone-number {
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.frame-div4 {
    position: absolute;
    top: 0;
    left: 29px;
    background-color: var(--color-gray-100);
    height: 18px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
}
.group-div7 {
    position: relative;
    width: 395px;
    height: 113px;
    flex-shrink: 0;
}
.div7 {
    position: absolute;
    top: 49px;
    left: 39px;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    opacity: 0.5;
}
.calendar-1-icon {
    position: absolute;
    top: 43px;
    left: 321px;
    width: 42px;
    height: 42px;
    overflow: hidden;
}
.frame-div7,
.frame-div8 {
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-9xs);
    box-sizing: border-box;
}
.frame-div7 {
    background-color: var(--color-indigo);
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div8 {
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    color: var(--black);
}
.frame-div3,
.frame-div6 {
    position: absolute;
    display: flex;
    flex-direction: row;
}
.frame-div6 {
    top: 44px;
    left: 246px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-10xs);
    color: var(--color-white);
}
.frame-div3 {
    top: 449px;
    left: 64px;
    filter: blur(10px);
    width: 1312px;
    align-items: flex-start;
    justify-content: space-between;
}
.jitendra-garg-div {
    position: absolute;
    top: 41px;
    left: 39px;
    font-weight: 500;
    display: inline-block;
    opacity: 0.5;
}
.frame-div11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div10 {
    position: absolute;
    top: 294px;
    left: 64px;
    filter: blur(10px);
    width: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.arrow-right-2-icon {
    position: relative;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    overflow: hidden;
}
.frame-div17 {
    position: absolute;
    top: 658px;
    left: 947px;
    border-radius: var(--br-3xs);
    background-color: var(--color-indigo);
    filter: blur(10px);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-5xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
    font-size: var(--font-size-5xl);
    color: var(--color-white);
}
.login-b {
    position: relative;
    letter-spacing: 0.1em;
    display: inline-block;
}
.frame-div20 {
    border-radius: 12.33px;
    background-color: var(--color-indigo);
    width: 289px;
    display: flex;
    flex-direction: row;
    padding: 15.41333293914795px 7.706666469573975px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24.66px;
    color: var(--color-white);
}
.frame-div18,
.frame-div19 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.frame-div19 {
    align-items: center;
    gap: var(--gap-10xl);
}
.frame-div18 {
    position: absolute;
    top: 220px;
    left: 335px;
    border-radius: 24px;
    background-color: var(--color-white);
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.15);
    padding: 67px 118px;
    box-sizing: border-box;
    align-items: flex-start;
    font-size: var(--font-size-5xl);
}
.rectangle-div6 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-400);
}
.group-icon,
.line-div {
    position: relative;
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}
.line-div {
    border-top: 4px solid var(--color-violet-200);
    box-sizing: border-box;
    width: 61px;
    height: 4px;
}
.frame-div24 {
    height: 52px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-9xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-10xs);
}
.frame-div22,
.frame-div23 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xl);
}
.frame-div22 {
    justify-content: flex-start;
    gap: var(--gap-9xl);
}
.search-line-1-icon {
    position: relative;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    overflow: hidden;
}
.search-div {
    position: relative;
    font-weight: 500;
    display: none;
    opacity: 0.5;
}
.frame-div26 {
    border-radius: var(--br-9xl);
    background-color: var(--color-white);
    width: 48px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-9xs);
}
.frame-div27 {
    border-radius: var(--br-6xs);
    background-color: var(--color-indigo);
    padding: var(--padding-9xs) var(--padding-sm);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
}
.frame-div21,
.frame-div25,
.frame-div27 {
    display: flex;
    flex-direction: row;
}
.frame-div25 {
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--black);
}
.frame-div21 {
    position: absolute;
    height: 52.85%;
    width: 90.97%;
    top: 23.58%;
    right: 4.58%;
    bottom: 23.58%;
    left: 4.44%;
    align-items: center;
    justify-content: space-between;
}
.header-before-logging {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 8px 44px rgba(0, 0, 0, 0.15);
    width: 1440px;
    height: 123px;
    font-size: var(--font-size-xs);
    color: var(--color-gray-700);
    font-family: var(--font-montserrat);
}
.for-not-logged-in-user-book-a {
    position: relative;
    background-color: var(--color-gray-100);
    width: 100%;
    height: 1183px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--black);
    font-family: var(--font-poppins);
}
