@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-poppins: Poppins;
    --font-roboto: Roboto;

    /* font sizes */
    --font-size-15xs: 11.8px;
    --font-size-14xs: 15.94px;
    --font-size-13xs: 15.95px;
    --font-size-12xs: 15.99px;
    --font-size-11xs: 16.57px;
    --font-size-10xs: 16.67px;
    --font-size-9xs: 17.03px;
    --font-size-8xs: 17.04px;
    --font-size-7xs: 17.09px;
    --font-size-6xs: 18px;
    --font-size-5xs: 18.9px;
    --font-size-4xs: 18.19px;
    --font-size-3xs: 20px;
    --font-size-2xs: 21.47px;
    --font-size-xs: 22.85px;
    --font-size-sm: 22px;
    --font-size-base: 22.37px;
    --font-size-lg: 22.16px;
    --font-size-xl: 23.75px;
    --font-size-2xl: 23.34px;
    --font-size-3xl: 24px;
    --font-size-4xl: 26.68px;
    --font-size-5xl: 28px;
    --font-size-6xl: 29.83px;
    --font-size-7xl: 29.35px;
    --font-size-8xl: 30.36px;
    --font-size-9xl: 31.39px;
    --font-size-10xl: 31.12px;
    --font-size-11xl: 32px;
    --font-size-12xl: 32.85px;
    --font-size-13xl: 36px;
    --font-size-14xl: 36.62px;
    --font-size-15xl: 37.53px;
    --font-size-16xl: 42px;
    --font-size-17xl: 48.97px;
    --font-size-18xl: 52.7px;
    --font-size-19xl: 62.85px;

    /* Colors */
    --color-gray-100: #eff3ff;
    --color-gray-200: #ebeeff;
    --color-gray-300: #d9d9d9;
    --color-gray-400: #c3ccff;
    --color-gray-500: #bfc8ff;
    --color-gray-600: #8d8d8d;
    --color-gray-700: #3f3f3f;
    --color-gray-800: rgba(0, 0, 0, 0.65);
    --color-indigo: #5871ff;
    --color-white: #fff;
    --black: #000;
    --color-violet-100: #7186ff;
    --color-violet-200: #627bfd;
    --color-red: #ff0000;
    --color-brown-100: #ff6969;
    --color-brown-200: #ff5858;
    --color-pink: #ffa8a8;
    --color-beige: #ffe5be;

    /* Gaps */
    --gap-0: 0px;
    --gap-12xs: 3.99px;
    --gap-11xs: 4px;
    --gap-10xs: 6px;
    --gap-9xs: 10px;
    --gap-8xs: 10.29px;
    --gap-7xs: 12.2px;
    --gap-6xs: 12px;
    --gap-5xs: 14.32px;
    --gap-4xs: 19.13px;
    --gap-3xs: 19.14px;
    --gap-2xs: 19.19px;
    --gap-xs: 20px;
    --gap-sm: 23px;
    --gap-md: 32px;
    --gap-lg: 33px;
    --gap-xl: 38px;
    --gap-2xl: 40px;
    --gap-3xl: 41px;
    --gap-4xl: 43px;
    --gap-5xl: 44px;
    --gap-6xl: 53px;
    --gap-7xl: 62px;
    --gap-8xl: 67px;
    --gap-9xl: 69px;
    --gap-10xl: 73px;
    --gap-11xl: 74px;
    --gap-12xl: 91px;
    --gap-13xl: 126.41px;

    /* Paddings */
    --padding-10xs: 9.703728675842285px;
    --padding-9xs: 10px;
    --padding-8xs: 11.118642807006836px;
    --padding-7xs: 12.992130279541016px;
    --padding-6xs: 14.775801658630371px;
    --padding-5xs: 16px;
    --padding-4xs: 17.894737243652344px;
    --padding-3xs: 20px;
    --padding-2xs: 23.11475372314453px;
    --padding-xs: 25.229692459106445px;
    --padding-sm: 30px;
    --padding-md: 32px;
    --padding-lg: 33.35593032836914px;
    --padding-xl: 35.78947448730469px;
    --padding-2xl: 35px;
    --padding-3xl: 38.52458953857422px;
    --padding-4xl: 40px;
    --padding-5xl: 50px;
    --padding-6xl: 61px;
    --padding-7xl: 100px;
    --padding-8xl: 128.672607421875px;
    --padding-9xl: 130px;
    --padding-10xl: 150.0000457763672px;

    /* border radiuses */
    --br-11xs: 6.05px;
    --br-10xs: 6px;
    --br-9xs: 8px;
    --br-8xs: 8.89px;
    --br-7xs: 8.49px;
    --br-6xs: 10px;
    --br-5xs: 10.74px;
    --br-4xs: 11.81px;
    --br-3xs: 12px;
    --br-2xs: 12.31px;
    --br-xs: 12.48px;
    --br-sm: 12.96px;
    --br-md: 12.75px;
    --br-lg: 12.76px;
    --br-xl: 12.79px;
    --br-2xl: 14px;
    --br-3xl: 14.21px;
    --br-4xl: 15.41px;
    --br-5xl: 15.57px;
    --br-6xl: 16px;
    --br-7xl: 18px;
    --br-8xl: 25px;
    --br-9xl: 30px;
    --br-10xl: 38.81px;
    --br-11xl: 40px;
}
